<div class="grid">
<aside>
  <ul>
    <li><LinkTo @route="index">Home</LinkTo></li>
    <li><a href="https://github.com/rajasegar/ember-dayjs-helpers">Github</a></li>
    <li><a href="https://day.js.org">Day.js</a></li>
  </ul>
  <h3>Helpers</h3>
  <h4>Display Helpers</h4>
  <ul>
    <li><LinkTo @route="day-js">day-js</LinkTo></li>
    <li><LinkTo @route="dayjs-format">dayjs-format</LinkTo></li>
    <li><LinkTo @route="dayjs-from-now">dayjs-from-now</LinkTo></li>
    <li><LinkTo @route="dayjs-from">dayjs-from</LinkTo></li>
    <li><LinkTo @route="dayjs-to">dayjs-to</LinkTo></li>
    <li><LinkTo @route="dayjs-to-now">dayjs-to-now</LinkTo></li>
    <li><LinkTo @route="dayjs-calendar">dayjs-calendar</LinkTo></li>
    <li><LinkTo @route="dayjs-diff">dayjs-diff</LinkTo></li>
  </ul>
  <h4>Manipulate Helpers</h4>
  <ul>
    <li><LinkTo @route="dayjs-add">dayjs-add</LinkTo></li>
    <li><LinkTo @route="dayjs-subtract">dayjs-subtract</LinkTo></li>
    <li><LinkTo @route="dayjs-start-of">dayjs-start-of</LinkTo></li>
    <li><LinkTo @route="dayjs-end-of">dayjs-end-of</LinkTo></li>
  </ul>
  <h4>Query Helpers</h4>
  <ul>
    <li><LinkTo @route="dayjs-is-before">dayjs-is-before</LinkTo></li>
    <li><LinkTo @route="dayjs-is-same">dayjs-is-same</LinkTo></li>
    <li><LinkTo @route="dayjs-is-after">dayjs-is-after</LinkTo></li>
    <li><LinkTo @route="dayjs-is-same-or-before">dayjs-is-same-or-before</LinkTo></li>
    <li><LinkTo @route="dayjs-is-same-or-after">dayjs-is-same-or-after</LinkTo></li>
    <li><LinkTo @route="dayjs-is-between">dayjs-is-between</LinkTo></li>
    <li><LinkTo @route="dayjs-is-leap-year">dayjs-is-leap-year</LinkTo></li>
  </ul>
</aside>
<main>
<h1>ember-dayjs-helpers</h1>
{{outlet}}
</main>
</div>
