<h3>dayjs-is-leap-year</h3>
<p><code>\{{dayjs-is-leap-year '2011-01-01'}}</code></p>
<p>{{dayjs-is-leap-year '2011-01-01'}}</p>
<p><code>\{{dayjs-is-leap-year '2020-01-01'}}</code></p>
<p>{{dayjs-is-leap-year '2020-01-01'}}</p>
