<h3>dayjs-weekdays-min</h3>
<p><code>
\{{#each (dayjs-weekdays-min) as |day|}}
  <p>Say Hi to \{{day}}</p>
\{{/each}}
</code>
</p>
{{#each (dayjs-weekdays-min) as |day|}}
  <p>Say Hi to {{day}}</p>
{{/each}}
