<h2>dayjs-is-same-or-before</h2>
<p><code>\{{dayjs-is-same-or-before date="2011-01-01"}}</code></p>
<p>{{dayjs-is-same-or-before date="2011-01-01"}}</p>
<p><code>\{{dayjs-is-same-or-before date="2020-01-01" unit='year'}}</code></p>
<p>{{dayjs-is-same-or-before date="2020-01-01" unit="year"}}</p>