<h2>dayjs-format</h2>
<p>
  <code>\{{ dayjs-format date='2019-01-25' format="[YYYYescape] YYYY-MM-DDTHH:mm:ssZ[Z]" }}</code>
</p>
<p>
  {{ dayjs-format date='2019-01-25' format="[YYYYescape] YYYY-MM-DDTHH:mm:ssZ[Z]" }}
</p>
<p>
  <code>\{{ dayjs-format date='2019-01-25' format="DD/MM/YYYY" }}</code>
</p>
<p>
  {{ dayjs-format date='2019-01-25' format="DD/MM/YYYY" }}
</p>