<h3>dayjs-day-of-week</h3>
<p><code>\{{dayjs-day-of-week}}</code></p>
<p>Today's date => {{dayjs-day-of-week}}</p>
<p><code>\{{dayjs-day-of-week "2019-08-19"}}</code></p>
<p> => {{dayjs-day-of-week "2019-08-19"}}</p>
