<h3>dayjs-day-of-year</h3>
<p>
  <code>\{{dayjs-day-of-year "2019-12-31"}}</code>
</p>
<p>
  No of days in 2019 => {{dayjs-day-of-year "2019-12-31"}}
</p>
<p>
  <code>\{{dayjs-day-of-year "2020-12-31"}}</code>
</p>
<p>
  No of days in 2020 => {{dayjs-day-of-year "2020-12-31"}}
</p>