<h3>days-in-month</h3>
<p>
  <code>\{{days-in-month "2019-02-01"}}</code>
</p>
<p>
  Days in Feb 2019 => {{days-in-month "2019-02-01"}}
</p>
<p>
  <code>\{{days-in-month "2020-02-01"}}</code>
</p>
<p>
  Days in Feb 2020 => {{days-in-month "2020-02-01"}}
</p>