<h3>Ember template helpers based on <a href="https://day.js.org">day.js</a></h3>
<h4>Day.js is a fast 2kB alternative to Moment.js with the same modern API</h4>
<p><code>ember install ember-dayjs-helpers</code></p>
